<style>
    body {
        background: #52c234;
        background: -webkit-linear-gradient(to right, #061700, #52c234);
        background: linear-gradient(to right, #061700, #52c234);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    div {
        padding: 20px 0 20px 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    img {
        width: 200px;
        height: 200px;
    }
</style>


{{#each album}}
<div>
{{name}}
</div>
<div>
<img src="{{images.0.url}}" alt="album img">
</div>
<div>
<a href="/tracks/{{id}}">Tracks</a>
</div>
{{/each}}