<div class="div">
<h1>Search an artist</h1>

<form action="/artist-search" method="GET">

<label for="artist">Artist</label>
<input type="text" name="artist">
<div>
<button class="button" type="submit">Search for an Artist</button>
</div>

</form>
</div>